<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="AppPath" value="C:\Project-VS\Game-304\Game-304"/>
    <add key="ImagePath" value="\Cards"/>
    <add key="Jack" value="30"/>
    <add key="Nine" value="20"/>
    <add key="Ace" value="11"/>
    <add key="Ten" value="10"/>
    <add key="King" value="3"/>
    <add key="Queen" value="2"/>
    <add key="Eight" value="0"/>
    <add key="Seven" value="0"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>